<html><head><title>Sign In</title><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8"><META HTTP-EQUIV="Expires" CONTENT="Mon, 01 Jan 1990 20:52:26 GMT"><link rel="stylesheet" type="text/css" href="/style/style.css" title="style" /></head><body><div id="main"> <div id="header"> <div id="logo"> <div id="logo_text"><h1><a href="/">Log<span class="logo_colour">in</span></a></h1><h2>Access Control</h2></div></div></div><div id="content_header"></div><div id="site_content"><div id="content"><h1>{{.Other.Errorstr}}</h1>
{{if .Other.go_uri}}<FORM METHOD="POST"><INPUT TYPE="HIDDEN" NAME="{{.Other.go_uri}}" VALUE="{{.Other.Script_name}}"><div class="form_settings"><p><span class=fixed>Login</span><INPUT class=contact TYPE="TEXT" NAME="{{.Other.Login_name}}" /></p><p><span class=fixed>Password</span><INPUT class=contact TYPE="PASSWORD" NAME="{{.Other.Password_name}}" /></p><p style="padding-top: 15px"><span class=fixed>&nbsp;</span><p></p><INPUT class="submit" TYPE="SUBMIT" VALUE=" Sign In " /></p></div></FORM>
{{end}}
